@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Opun Mai Bold Italic";
  src: url("./assets/fonts/Opun Mai Bold Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pangolin Regular";
  src: url("./assets/fonts/Pangolin.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-image: url("./assets/landing_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.font-opun {
  font-family: "Opun Mai Bold Italic", cursive;
}

.font-pangolin {
  font-family: "Pangolin Regular", cursive;
}

.text-stroke-cake {
  -webkit-text-stroke: 0.4rem #8a2d3a;
  paint-order: stroke fill;
}